*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main h1{
    text-align: center;
    color:oldlace;
}
.outer-div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color:rgb(171, 226, 174); */
    background-image: url('images/ai.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;    
}
.input-box input::placeholder{
    color:white;
}
.input-box{
    position: relative;
}
.input-box input{
    width: 100%;
    margin: 10px 0px;
    padding: 6px 3px;
    border-radius: 30px;
    border-width: 1px;
    background: transparent;
}
.input-box .icon{
    position: absolute;
    color:white;
    right:10px;
    top:50%;
    transform: translateY(-50%);
}
main{
    border: 1px white solid;
    padding: 30px;
    width: 400px;
    /* background-color:darkcyan; */
    backdrop-filter: blur(5px);
    border-radius: 30px;
}
main input[type="submit"]{
    width: 100%;
    padding: 5px;
    border-radius: 5px;  
    font-weight: bold;
    color:darkmagenta;
}
main input[type="submit"]:hover{
    background-color:rgb(108, 52, 211);
    color: white;    
}
.new-account p{
    text-align: center;
    padding: 5px;
}
.remember-password{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.remember-password a{
    text-decoration: none;
    color: black;
}
.new-account a{
    text-decoration: none;
    color: red;
}
nav{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: darkmagenta;
    /* top:50%;
    transform: translateY(-50%); */
}
.nav-links li a{
    color: white;
}
.nav-links li a:hover{
    color:cyan;
    font-weight: bold;
}
nav ul{
    display:flex;
    justify-content:space-between;
    list-style: none;
    gap: 50px; 
}
a{
    text-decoration: none;
}
.logo{
    color:cyan;
    font-size:xx-large;
    /* width: 20%; */
}
@media(max-width:500px){
    main{
        width: 200px;
    }
    nav{
        padding: 10px;
    }
    nav ul{
        flex-direction: column;
    }
}