*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content:space-between;
    background-color: lightgreen;
    padding: 1rem 2rem;
    align-items: center;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    color: rgb(6, 90, 6);
    width: 30%;
}
.menu{
    width: 70%;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.nav-links li a{
    text-decoration: none;
    padding: 7px 5px;
    border-radius: 3px;
    border-bottom: 4px inherit;
    transition: background-color 0.5s ease-in;
}
.nav-links li a:hover{
    color:white;
    background-color: green;
    padding: 7px 5px;
    border-bottom: 4px solid white;
}
@media(max-width:550px){
    .nav-links{
        position:absolute;
        flex-direction:column;
        top: 70px;
        background-color:lightgreen;
        padding:10px 5px;
        /* width: 100%; */
        left: 0;
        /* align-items:center; */
       
    }
    
}